NODE_ENV=development
PORT=4000
APP_URL=https://6vqt42ml-4000.inc1.devtunnels.ms
FRONTEND_URL=https://6vqt42ml-3000.inc1.devtunnels.ms

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/school_id_cards?schema=public"

JWT_ACCESS_SECRET=s3ENJNZsgZ3fWbfuJxnEwabmAXWLxYIdprR6TV6rw9w
JWT_REFRESH_SECRET=nuDGbcONrlqlbFWLwDpkS26XoGehgl1Od13myBnMnAw
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SUPERADMIN_EMAIL=superadmin@yopmail.com
SUPERADMIN_PASSWORD=Admin@12345

COOKIE_DOMAIN=.inc1.devtunnels.ms
COOKIE_SECURE=false

MAX_FILE_SIZE_IMAGE_MB=8
MAX_FILE_SIZE_LOGO_MB=5
MAX_FILE_SIZE_CSV_MB=10
