VITE_APP_VERSION=v5.1.0
GENERATE_SOURCEMAP=false

## PUBLIC URL
VITE_APP_BASE_NAME=/free

# API Config
# VITE_API_BASE_URL=http://localhost:5000/api
VITE_API_BASE_URL=https://6vqt42ml-4000.inc1.devtunnels.ms/api
